{
	"env": {
		"browser": true, // In Browser mode so 'window' is defined
		"es6": true // Enable ES6
	},
	"globals": {
		"require": true,// For gulp
		"@Component": true,
		"@View": true,
		"bootstrap": true
	},
	"ecmaFeatures": {
		"modules": true // Enable ES6
	},
	"rules": {
		"indent": [2, "tab"], // tabs only
		"brace-style": [2, "stroustrup", { "allowSingleLine": true }] // Open brackets need to be on the same line - not php style
	}
}